@charset "UTF-8";

// setting

@mixin sm-screen {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
@mixin lg-screen {
  @media only screen and (min-width: 769px) {
    @content;
  }
}

html,
body {
  color: #909090;
  font-size: 18px;
  line-height: 2;
  font-family: Arial, Verdana, "ＭＳ Ｐゴシック","游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  width: 100%;
  height: 100%;
  background-color: #8e65cd;
  background-image: url(/img/sp_bg.png),url(/img/bg_pattern.png);
  background-position: center center,0 0;
  background-repeat: no-repeat,repeat;
  background-size: auto auto,3px 3px;
  min-width: 320px;
  @include sm-screen {
    background-image: none;
  }
}

a {
  color: #909090;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    img {
      &.ov {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
        opacity: 0.8;
      }
    }
  }
}

::-moz-selection {
  background: #ffed75;
  text-shadow: none;
}

::selection {
  background: #ffed75;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  border: none;
  @include sm-screen {
    width: 100%;
    height: auto;
    vertical-align: top;
  }
}

textarea {
  resize: vertical;
}

ul, h1, h2, p, figure {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}


// layout
.load{
  opacity: 0;
}
.sp_hidden{
  @include sm-screen {
   display: none;
  }
}
.pc_hidden {
  @include lg-screen {
    display: none;
  }
}
#gg {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#gg0 {
  width: 100%;
  height: 100%;
  background-color: #aff6df;
  background-image: url(/img/bg_pattern.png);
  background-repeat: repeat;
  img {
    margin: auto;
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    z-index: 1;
    @include sm-screen {
      width: 80px;
    }
  }
}
#header {
  z-index: 7;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 320px;
  @include sm-screen {
    position: static;
  }
  .logo {
      position: absolute;
      top: 8px;
      left: 16px;
      margin: 0 auto;
      width: 339px;
      height: auto;
      @include sm-screen {
        left: 10px;
        top: 6px;
        width: (503 / 1200 * 100%);
      }
      img {
        width: 100%;
        height: auto;
      }
  }
  .bgm {
    position: fixed;
    bottom: 8px;
    left: 13px;
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    @include sm-screen {
      display: none;
    }
    .controller {
      position: relative;
      vertical-align: middle;
      width: 49px;
      height: 49px;
      background: transparent url(/img/bgm_bg.png) 0 0 no-repeat;
      //margin-right: 10px;
      cursor: pointer;
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
    p {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .share {
    .balloon {
      position: absolute;
      top: 20px;
      right: 160px;
      width: 180px;
      height: auto;
      @include sm-screen {
        top: 22px;
        right: auto;
        left: (580 / 1200 * 100%);
        width: (363 / 1200 * 100%);
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .sns {
      .in {
        right: 106px;
        @include sm-screen {
          right: auto;
          left: (962 / 1200 * 100%);
        }
      }
      .tw {
        right: 50px;
        @include sm-screen {
          right: (20px / 2);
          left: (1076 / 1200 * 100%);
        }
      }
      > * {
        width: 42px;
        height: 57px;
        position: absolute;
        top: 30px;
        @include sm-screen {
          width: (84 / 1200 * 100%);
          height: auto;
          top: (58px / 2);
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
// footer
#footer{
  position: absolute;
  bottom: 0;
  z-index: 7;
  width: 100%;
  text-align: center;
  .copyright{
    position: absolute;
    font-size: 12px;
    bottom: 0;
    left: -50%;
    margin-left: 50%;
    width: 100%;
    text-align: center;
    display: none;
  }
  .toTop {
    position: fixed;
    bottom: 35px;
    right: 30px;
    display: none;
    @include sm-screen {
      width: 100px;
      bottom: 20px;
      right: 0;
      left: 0;
    }
  }
}
#fullpage {
  z-index: 5;
}
.section {
  width: 100%;
  height: 100%;
  position: relative;
  @include sm-screen {
    position: static;
    height: auto;
  }
  h1 {
   @include sm-screen {
     z-index: 5;
   }
   img {
     @include sm-screen {
       width: 100%;
       vertical-align: top;
     }
   }
  }
  .contents {
    z-index: 5;
    &.contents-Nobg {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      @include sm-screen {
        position: static;
        width: auto;
        top: auto;
        left: auto;
        transform: none;
        margin: auto 10px;
      }
    }
    &.contents-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 847px;
      @include sm-screen {
        width: 87%;
        margin: 0 auto;
        background-size: contain;
        position: static;
      }
      &:before {
        content: "";
        background-image: url(/img/contents_bg_top.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% auto;
        width: 100%;
        height: 184px;
        display: block;
        @include sm-screen {
          height: 33%;
        }
      }
      &:after {
        content: "";
        background-image: url(/img/contents_bg_bottom.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
        width: 100%;
        height: 37px;
        display: block;
      }
      .contents_body {
        background: transparent url(/img/contents_bg.png) center center repeat-y;
        background-size: 100% auto;
      }
    }
    &.contents-contact {
      background: transparent url(/img/contents_bg_contact.png) center center no-repeat;
      width: 847px;
      height: 586px;
      @include sm-screen {
        width: 87%;
        margin: 0 auto;
        background-image: none;
        background-size: contain;
      }
      &:before {
        @include sm-screen {
          height: 33%;
        }
      }
    }
    &.contents_bg_h {
     @include sm-screen {
       width: 100%;
       position: relative;
       z-index: 4;
     }
     img {
       @include sm-screen {
         width: 100%;
       }
     }
    }
    &.contents_bg_f {
     @include sm-screen {
       width: 87%;
      margin: 0 auto;
     }
     img {
       @include sm-screen {
         width: 100%;
         vertical-align: top;
       }
     }
   }
  }
  .contact {
    text-align: center;
    @include sm-screen {
      padding: 2% 0;
    }
    @include lg-screen {
      padding-top: 2%;
    }
    img {
      @include sm-screen {
        width: 87%;
      }
    }
  }
  .wrp_contents-contact {
    z-index: 5;
    @include lg-screen {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

.point {
  @include lg-screen {
    position: absolute;
    top: 92px;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}


.pattern {
  z-index: 2;
  background: transparent url(/img/bg_pattern.png) 0 0 repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include sm-screen {
    display: none;
  }
}

#player {
    position: relative;
    z-index: 0;
    display: none;
}


/*----------------------------------------------------------------------------
 * 03. Cosmetic
 * 各カテゴリのスタイル指定
 *---------------------------------------------------------------------------- */
 /* =====================================================
  * first
  * ===================================================== */
  #first {
    @include sm-screen {
      text-align: center;
      margin: 120px 0 50px;
    }
    .sp_video {
      width: 300px;
      margin: auto;
    }
  }
/* =====================================================
 * main
 * ===================================================== */
#main {
  @include sm-screen {
    margin-bottom: 100px;
  }
 .contents_body {
   width: 916px;
   height: 382px;
   position: relative;
   @include sm-screen {
     width: auto;
     margin: 10px;
     margin: auto;
     height: auto;
     position: static;
   }
 }
 h1 {
   @include sm-screen {
     padding: 0 2%;
     background-image: url(/img/sp_bg.png);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: 100% auto;
   }
   img {
     @include sm-screen {
       width: 100%;
       margin: 0% 0 36%;
     }
   }
 }
 .stamp{
   //display: table;
   //background-image: url(../img/stamp_bg.png);
   //background-repeat: no-repeat;
   //background-position: 30px 0;
   position: absolute;
   width: 433px;
   height: auto;
   @include sm-screen {
     position: static;
     width: auto;
     // margin: 20px auto;
     // width: (1177px / 2.5);
     // height: (531px / 2.5);
     //background-image: url(../img/stamp_bg_sp.png);
     //background-size: 100% auto;
     //background-position: center center;
     // top: 0;
     // right: 0;
   }
   &_bg {
     position: absolute;
     left: 30px;
   }
   &_list {
     display: table;
     width: 100%;
     @include sm-screen {
       width: auto;
     }
     &_cell {
       display: table-cell;
       &-1 {
         img {
           width: 109px;
           height: auto;
           position: absolute;
           top: 75px;
           left: 3px;
           @include sm-screen {
             width: (285px / 2.5);
             height: auto;
             position: absolute;
             top: 5px;
             left: 0;
           }
         }
       }
       &-2 {
         img {
           width: 113px;
           height: auto;
           position: absolute;
           top: 220px;
           left: 100px;
           @include sm-screen {
             width: (292px / 2.5);
             height: auto;
             position: absolute;
             top: 10px;
             right: 0;
           }
         }
       }
     }
   }
   a{
     display: block;
     width: 100%;
     height: 100%;
     position: relative;
   }
 }
 .goods {
   width: 451px;
   height: 382px;
   position: absolute;
   right: 0;
   @include sm-screen {
     width: auto;
     height: auto;
     max-width: 451px;
     max-height: 382px;
     position: static;
   }
   img {
     width: 100%;
     height: auto;
   }
 }
}

/* =====================================================
 * chara
 * ===================================================== */
#chara {
  .contents_body {
    display: table;
    width: 100%;
    @include sm-screen {
      text-align: center;
      width: 100%;
    }
  }
  h1 {
    position: absolute;
    width: inherit;
    top: 38px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    @include sm-screen {
      position: absolute;
      left: 20%;
      width: 55%;
      margin-top: -22%;
    }
  }
  .point {
    @include sm-screen {
      z-index: -1;
      position: absolute;
      /* top: 5%; */
      right: 8%;
      width: 20%;
      margin-top: -25%;
    }
    @include lg-screen {
      z-index: -1;
    }
    img {
      @include lg-screen {
        position: relative;
      }
      @include sm-screen {
        width: 100%;
      }
    }
  }
  ul {
    @include lg-screen {
      width: 680px;
      margin: 0 auto;
    }
    @include sm-screen {
      display: inline-block;
      text-align: center;
    }
    li {
      text-align: center;
      margin-bottom: 20px;
      @include lg-screen {
        float: left;
      }
      &:nth-child(3) {
        @include lg-screen {
          margin-right: 0 !important;
        }
      }
      &:nth-child(6) {
        @include lg-screen {
          margin-right: 0 !important;
        }
      }
      &.rank1 {
        margin-top: 25px;
      }
      &.rank2 {
        margin-right: 20px;
      }
      &.rank4 {
        margin-right: 20px;
      }
      &.rank5 {
        margin-right: 20px;
      }
      @include sm-screen {
        display: inline-block;
        vertical-align: top;
        margin: 0 3% 3%;
        text-align: center;
        width: 20%;
      }
      p{
        text-align: center;
        line-height: 1.2;
        margin-top: 5px;
        @include sm-screen {
          font-size: 10px;
        }
      }
    }
  }
}
